
@styles = {
}

@scripts = {
}

@main("Inicio")(styles)(scripts){

	<h1> Introduccion al Sistema </h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque augue et libero iaculis id vehicula quam interdum. Aliquam erat volutpat. Nam ultrices pulvinar dolor eget tristique. Maecenas iaculis, mi id venenatis congue, ante erat interdum augue, eu posuere mauris orci et magna. Mauris ornare aliquam nibh, vel ullamcorper ipsum auctor eu. Pellentesque fermentum rhoncus ligula, eu facilisis purus imperdiet sit amet. Sed odio risus, rhoncus sit amet accumsan vel, venenatis non turpis. Nulla vestibulum tortor non quam vestibulum vitae varius nibh sodales. Nunc nec sem ipsum. Aenean pellentesque justo a dolor interdum pharetra dignissim orci tincidunt. Duis ac sapien neque, at tincidunt nisi.<br>
    
    
    Aliquam et erat lorem. Vivamus quis lectus eu justo fringilla laoreet vitae sed libero. Etiam semper sagittis pretium. Maecenas ornare dui auctor nisl suscipit vel luctus erat placerat. Vestibulum ac diam at est placerat luctus ut id tellus. Etiam imperdiet nisi eget neque pretium mattis. Curabitur arcu velit, porta vel aliquam sed, sodales in ante. Mauris placerat adipiscing euismod. Aliquam mi massa, lacinia et laoreet aliquam, vestibulum eu neque. In hac habitasse platea dictumst.<br>
    
    			</p><h1> Preguntas Frecuentes </h1>
                <lu>
                  <li> Pregunta 1 </li>
                  <li> Pregunta 2 </li>
                  <li> Pregunta 3 </li>
                  <li> Pregunta 4 </li>
    			</lu>

}