@styles = {
	<link href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css"/>
}

@scripts = {
	 <script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
	 <script>
	 	$(document).ready(function() {
	 		$("#faq").accordion({
				active: false,
				collapsible: true,
				heightStyle: "content"
			});
		});
	 </script>
}

@main("Inicio")(styles)(scripts){

	<h1> Módulo de Consultas Difusas para la Encuesta de Opinión Estudiantil </h1>
		<p> 
        	Bienvenido al módulo de consultas difusas para la Encuesta de Opinión Estudiantil.<br> 
            <br>
            Este módulo se encarga de proveer una interfaz más amigable para consultar los datos de la Encuesta Estudiantil.<br>
            <br>
            Los parámetros de las preguntas son palabras en lenguaje natural y las respuestas son un ordenamiento descendente de los resultados, es decir, la primera respuesta es la que mejor se ajusta a los parámetros provistos.<br>
   			<br>
   			En la sección de <a href="/config">Configuración</a> es posible adaptar los parámetros de cada pregunta según tu preferencia.<br>
		</p>
		<h1> Preguntas Frecuentes </h1>
		<div id="faq">
        	<h2> ¿Por qué en la configuración los valores aceptan decimales? </h2>
        		<div>
        		<p>
        			Por que la ponderación de las respuestas se hace sobre un promedio de todas las respuestas suministradas.
        		</p>
        		</div>
            <h2> ¿Donde puedo conseguir más información acerca del sistema? </h2>
            	<div>
            	<p>
        			Dirígete a la Coordinación de la Encuesta de Opinión Estudiantil en MYS piso 1.
        		</p>
        		</div>
            <h2> ¿De dónde sale la información reflejada en los resultados? </h2>
            	<div>
            	<p>
        			Los datos son extraídos de las respuestas suministradas por los estudiantes en la Encuesta que se hace trimestralemente
        			desde el 2001, por eso es importante que te tomes el tiempo de responderla en cada período.
        		</p>
        		</div>
            <h2> ¿Por qué no salen las otras preguntas de la encuesta? </h2>
            	<div>
            	<p>
        			Existen dos razones: actualmente solo 6 de las preguntas de la encuesta son obligatorias, lo cual implica que
        			poseemos datos estadísticamente significativos para ofrecer una consulta confiable; la segunda razón es que
        			hicimos un estudio de cuáles serían las preguntas de mayor interés para un estudiante y son las planteadas
        			en el sistema.
        		</p>
        		</div>
    	</div>
}