@styles = {

}

@scripts = {
}

@main("Preguntas")(styles)(scripts){

         <h1> Preguntas </h1>
    
           
         <form id="Pregunta1" action="">
           <p class="preguntas">
           ¿Que materias son de dificultad  
             <select>
               <option value="1">baja</option>
               <option value="2">medio</option>
               <option value="3">alta</option>
             </select>
             y las imparten prefesores con un desempeno global
             <select>
               <option value="4">bajo</option>
               <option value="5">medio</option>
               <option value="6">alto</option>
             </select> 
           </p>
           <input type="submit" value="Enviar" class="b_submit"></input>
         </form>
         
         </br>
         <hr>
         
         <form id="Pregunta2" action="">
           <p class="preguntas">
           ¿Cuales son las materias con un nivel de utilidad  
             <select>
               <option value="1">baja</option>
               <option value="2">medio</option>
               <option value="3">alta</option>
             </select>
             y requieren de un grado de esfuerzo
             <select>
               <option value="4">bajo</option>
               <option value="5">medio</option>
               <option value="6">alto</option>
             </select> 
           </p>
           <input type="submit" value="Enviar" class="b_submit"></input>
         </form>

         </br>
         <hr>

         <form id="Pregunta3" action="">
           <p class="preguntas">
           ¿Que materias tienen un grado de utidad  
             <select>
               <option value="1">baja</option>
               <option value="2">medio</option>
               <option value="3">alta</option>
             </select>
             y las imparten prefesores con un desempeno global
             <select>
               <option value="4">bajo</option>
               <option value="5">medio</option>
               <option value="6">alto</option>
             </select> 
           </p>
           <input type="submit" value="Enviar" class="b_submit"></input>
         </form>

}